
<div class="row" id="loginContainer">

  <form class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-5">Username: </label>
      <div class="col-sm-2">
        <input type="text" class="form-control" size="40" placeholder="Username" name="username" id="username" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-5">Password: </label>
      <div class="col-sm-2">
        <input type="password" class="form-control" size="40" placeholder="Password" name="password" id="password" required>
      </div>
    </div>
  </form>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="loginTypeButton">Login Type
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#" (click)="setLoginType('User')">User</a></li>
      <li><a href="#" (click)="setLoginType('Operator')">Operator</a></li>
      <li><a href="#" (click)="setLoginType('Admin')">Admin</a></li>
    </ul>
  </div>

  <div class="col-sm-12">
    <div class="checkbox">
      <label><input type="checkbox" value="">Remember me</label>
    </div>
  </div>

  <button (click)="login()" type="submit" class="btn btn-primary">Login</button>

  <div class="col-sm-12" id="register">
    <a routerLink="register">New? Register Now</a>
  </div>



</div>


