<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="dashboard">AirlineTicket Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="" (click)="navigate('reservation')">Book a flight</a></li>
      <li><a [routerLink]="" (click)="navigate('active')">Active reservations</a></li>
      <li><a [routerLink]="" (click)="navigate('history')">History</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
      <li><a [routerLink]="" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <router-outlet name="dashboard"></router-outlet>
</div>
