#listFlights{
  margin-bottom: 1em;
}

.panel{
  visibility: hidden;
}

li{
  cursor: pointer;
}

.flight{
  cursor: pointer;
}

.table td {
  text-align: center;
}

td:hover {
  background-color: red;
}

#listUserStats {
  margin-top: 1em;
}

#userDetails{
}
